rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isAdmin() {
      return request.auth != null;
    }

    // Receipt uploads
    match /receipts/{fileName} {
      allow create: if request.resource.size < 5 * 1024 * 1024
                    && (request.resource.contentType.matches('image/.*') || request.resource.contentType == 'application/pdf');
      allow read, delete: if isAdmin();
    }

    // Program & Instrument Images
    match /assets/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
